@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
    height: 16em;
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -20;
  height: 100vh;
  background-image: url("https://w0.peakpx.com/wallpaper/427/48/HD-wallpaper-purple-haze-world-reflects-water-alien.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(
    315deg,
    rgb(223 198 222 / 12%) 3%,
    rgb(149 41 211 / 20%) 38%,
    rgb(121 48 238 / 20%) 68%,
    rgb(50 2 59 / 20%) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wave {
  background: rgba(231, 23, 204, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 20vh;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.wave:nth-of-type(2) {
  background: rgba(197, 144, 190, 0.582);
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  background: rgba(130, 7, 155, 0.25);
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  gap: 20px;
}

footer img:hover {
  cursor: pointer;
  transform: scale(1.13);
  transition: ease-in;
}

h1 {
  display: flex;
  justify-content: center;
}

.disable {
  background-color: rgba(74, 57, 77, 0.7);
  display: none;
}

.show {
  display: flex;
  position: absolute;
  inset: 0;
}

.cells {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  min-height: 200px;
}

#computer-board .cells:hover {
  z-index: 3;
  outline: 2px solid #dec4ec;
  cursor: pointer;
}

.modal-content {
}

.ships-container {
  grid-area: 2/2/3/3;
  display: grid;
  grid-auto-rows: 40px;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-content: center;
  row-gap: 25px;
  outline: 2px solid yellowgreen;
  width: 300px;
}

.ship {
  display: inline-grid;
  grid-template-columns: rpeat(auto-fit, 40px);
  margin-left: 40px;
}

.ship-cells:not(:last-child):not(.ship-on-grid *) {
  border-right: 1px solid rgb(170, 22, 170);
}

.ship-selector {
  display: inline-flex;
  position: relative;
  border-radius: 2px;
  z-index: 3;
  width: fit-content;
  cursor: pointer;
}

.selected {
  z-index: 20;
  outline: 3px solid #00c6f8;
}

.ship-on-grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

[data-vertical="true"] .ship-cells:not(:last-child) {
  border-bottom: 1px solid rgb(220, 62, 5);
}

[data-vertical="false"] {
  display: inline-flex;
}

[data-vertical="false"] .ship-cells:not(:last-child) {
  border-right: 1px solid rgb(220, 62, 5);
}

#playBtn {
  grid-area: 3/1/4/3;
  padding: 5px 10px;
  font-size: 1.2rem;
}
