:root {
    --light-main: #e2e8f0;
    --animate-duration: 700ms;
}

* {
    margin: 0;
    box-sizing: border-box;
    cursor:default;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 10px 0;
    gap: 20px;
    border-top: 1px solid black;
    background-color: #aeaaaa;
}

footer img:hover {
    cursor: pointer;
    transform: scale(1.13);
    transition: ease-in;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boards{
    display: flex;
    flex-direction: row;
    gap: 150px ;
}

.player-board, .computer-board {
    display: flex;
}

.player-side, .computer-side {
    background-color: rgb(26, 24, 24);
    padding: 10px;
    position: relative;
}

.disable {
    background-color: rgba(241, 237, 237, 0.7);
    display: none;
}

.show {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;    
    width: 520px;
    height: 520px;
}

.rows {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.marker {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: x-large;
    font-weight: 600;
}

.cells {
    flex: 1;
    height: 50px;
    background-color: #e8e5e5;
    outline: .5px solid rgb(154, 154, 250);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 3rem;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

form, .modal-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-template-rows: 5fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    background-color: var(--light-main);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    min-width: 430px; /* Could be more or less, depending on screen size */
    max-width: 45vw;
    min-height: 300px;
    max-height: 45vh;
}

form input {
    width: 200px;
    height: 1.6rem;
    border-radius: 5px;
    border-style: none;
    border: 1px solid ;
    align-self: center;
    letter-spacing: .08rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    padding: 5px;
    justify-self: center;
}

form button {
    width: 150px;
    height: 30px;
    justify-self: center;
    padding: 5px 10px;
    font-size: 1.2rem;
}
#computer-board .cells:hover:empty {
    z-index: 3;
    background-color: #dcfce7;
    outline: 4px solid #4ade80;
    cursor: pointer;
}

.player-name, .computer-name {
    display: inline-block;
    max-width: 300px;
    font-size: 2rem;
    color: black;
    text-shadow: 0 0 .5px wheat;
    position: absolute;
    top: -40px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.modal-content {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-items: center;
    border: 1px solid red;
    margin: 6% auto; /* 15% from the top and centered */
    min-width: 430px; /* Could be more or less, depending on screen size */
    max-width: 70vw;
    min-height: 300px;
    max-height: 75vh;
}

.place-title {
    grid-area: 1/1/2/3;
    justify-items: center;
    text-align: center;
    font-size: 3rem;
}

.ships-container {
    grid-area: 2/2/3/3;
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-content: center;
    row-gap: 25px;
    outline:2px solid black;
    width: 300px;
}

.modal-content .cells {
    height: 40px;
}

.modal-content .rows {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.ship {
    display: inline-grid;
    grid-template-columns: rpeat(auto-fit,40px);
    margin-left: 40px;
}

.ship-cells {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 111, 58);
    position: relative;
    cursor: pointer;
}

.ship-cells:not(:last-child){
    border-right: 1px solid rgb(220, 62, 5);
}

.ship-selector {
    display: inline-flex;
    position: relative;
    outline: 3px solid black;
    border-radius: 2px;
    z-index: 3;
    width: fit-content;
}

#playBtn {
    grid-area: 3/1/4/3;
    padding: 5px 10px;
    font-size: 1.2rem;
}